# Xcode
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# Secrets
Config/Secrets.xcconfig

# macOS
.DS_Store

# SwiftPM (if added later)
.build/
.swiftpm/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/build_logs

# Ruby / Bundler
vendor/bundle/
